.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 75px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #bcccc9;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}